.bg-azul{
    background-image: url('/img/bg-01.png');
   
    height: 50vh;
}

.bg-cinza{
    background-color: #F7F7FA;
}

.bg-verde{
    background-color: #057683;
}

.bg-servicos{
    background-image: url('/img/laranja.png');
   
    height: 60vh;
}

.bg-cat{
    background-image: url('/img/bg-cat.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    transform: translateY(100px);
    border-radius: 10px;
}

.bg-cardiac{
    background: #EF7A68;
    height: 50%;
}

.bg-footer{
    background-image: url('/img/bg-02.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 10px;
}

@media(max-width:700px){
    .bg-servicos{
        background-image: url('/img/laranja.png');
        height: 100vh;
    }
}