.btn-banner{
    background-color:#057683;
    color: #fff;
    padding: 0.5rem 1rem;

    &:hover{
        color: #EF7A68;
        background-color: #fff;
        border: solid 1px #EF7A68;
        transition: all 0.35s ease;
    }
}

.btn-orange{
    background:#EF7A68 ;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: #EF7A68;
        border: solid 1px #EF7A68;
        transition: all 0.35s ease;
    }
}

@media (max-width: 600px)
{
  .btn-banner
   {
    width: 100% !important;
   }
}