.color-footer{
    background-color: #0B3C41;
    padding-top: 3.5rem;
    font-size: 0.8rem;

    a {
        color: white;
        text-decoration: none;

        &:hover{
            color: #EF7A68;
        }
    }
    
}

.bg-footer{
    transform: translateY(40px);
}