@charset "UTF-8";

:root {
  --color-white: #fff;
  --color-light: hsl(206, 33%, 96%);
  --color-black: #000;
  --color-night: hsl(214, 100%, 10%);
  --color-purple: hsl(291, 64%, 42%);
  --color-indigo: #057683;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  	0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  	0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.brand-link span {
  color: #98F3AC;
}

.navbar {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: var(--shadow-large);
}

.navbar .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}

.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--color-black);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar .burger-line:nth-child(1) {
  top: 0;
}

.navbar .burger-line:nth-child(2),
.navbar .burger-line:nth-child(3) {
  top: 0.5rem;
}

.navbar .burger-line:nth-child(4) {
  top: 1rem;
}

.navbar .burger.active .burger-line:nth-child(1),
.navbar .burger.active .burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}

.navbar .burger.active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}

.navbar .burger.active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .menu-link {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: inherit;
  border: none;
  color: #AEAEAE;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
  padding: 0.9rem;
}

.navbar .menu-link.active,
.navbar .menu-link:hover:not(.orange-color) {
  border: none;
  outline: none;
  color: var(--color-indigo);
  background-image: url("/img/pata.png");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
  }

  .navbar .menu.active {
    opacity: 1;
    visibility: visible;
  }

  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

.banner-img {
  background-image: url("/img/pets-banner.png");
  background-size: cover;
  height: 90vh;
}

.card-color-text {
  color: #6D6D6D !important;
}

.up-card {
  transform: translateY(-50px);
  z-index: 9;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  height: 100%;
  padding: 0.5rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 600px) {
  .up-card {
    transform: translateY(0);
  }
}

.btn-banner {
  background-color: #057683;
  color: #fff;
  padding: 0.5rem 1rem;
}

.btn-banner:hover {
  color: #EF7A68;
  background-color: #fff;
  border: solid 1px #EF7A68;
  transition: all 0.35s ease;
}

.btn-orange {
  background: #EF7A68;
  color: #fff;
}

.btn-orange:hover {
  background-color: #fff;
  color: #EF7A68;
  border: solid 1px #EF7A68;
  transition: all 0.35s ease;
}

@media (max-width: 600px) {
  .btn-banner {
    width: 100% !important;
  }
}

.bg-azul {
  background-image: url("/img/bg-01.png");
  height: 50vh;
}

.bg-cinza {
  background-color: #F7F7FA;
}

.bg-verde {
  background-color: #057683;
}

.bg-servicos {
  background-image: url("/img/laranja.png");
  height: 60vh;
}

.bg-cat {
  background-image: url("/img/bg-cat.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  transform: translateY(100px);
  border-radius: 10px;
}

.bg-cardiac {
  background: #EF7A68;
  height: 50%;
}

.bg-footer {
  background-image: url("/img/bg-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .bg-servicos {
    background-image: url("/img/laranja.png");
    height: 100vh;
  }
}

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .swiper {
    width: 100%;
  }
}

.wrapper {
  height: 100%;
}

.block__item {
  margin-bottom: 20px;
}

.block__title {
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.block__title::before,
.block__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
  transition: all 0.3s ease 0s;
}

.block__title:before {
  transform: rotate(40deg);
  left: 0;
}

.block__title::after {
  transform: rotate(-40deg);
  left: 8px;
}

.block__title.active::before,
.block__title.active::after {
  background-color: #EF7A68;
}

.block__title.active::before {
  transform: rotate(-40deg);
}

.block__title.active::after {
  transform: rotate(40deg);
}

.block__text {
  display: none;
  padding-top: 10px;
}

.color-footer {
  background-color: #0B3C41;
  padding-top: 3.5rem;
  font-size: 0.8rem;
}

.color-footer a {
  color: white;
  text-decoration: none;
}

.color-footer a:hover {
  color: #EF7A68;
}

.bg-footer {
  transform: translateY(40px);
}

.img-login {
  background-image: url("/img/pets-banner.png");
  object-fit: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .img-login {
    background-image: none;
  }
}

/*Configurações Gerais*/

.orange-color {
  color: #EF7A68 !important;
}

.verde-color {
  color: #057683;
}

.marrom-color {
  color: #4A4444;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 70vh;
  width: 100%;
  gap: 0.5rem;
}

.gallery-grid div {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.gallery-grid div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.gallery-grid div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.gallery-grid div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.gallery-grid div:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.setas-baixo {
  transform: translateY(100px);
  width: 6rem;
}

.setas-cima {
  transform: translateY(50px);
  width: 6rem;
}

@media (max-width: 600px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    gap: 0.5rem;
  }

  .gallery-grid div {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .gallery-grid div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .gallery-grid div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gallery-grid div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .gallery-grid div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.paw-list img {
  width: 2rem;
}

:root {
  --color-white: #fff;
  --color-light: hsl(206, 33%, 96%);
  --color-black: #000;
  --color-night: hsl(214, 100%, 10%);
  --color-purple: hsl(291, 64%, 42%);
  --color-indigo: #057683;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  	0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  	0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.brand-link span {
  color: #98F3AC;
}

.navbar {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: var(--shadow-large);
}

.navbar .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.navbar .burger {
  position: relative;
  display: none;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}

.navbar .burger-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--color-black);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar .burger-line:nth-child(1) {
  top: 0;
}

.navbar .burger-line:nth-child(2),
.navbar .burger-line:nth-child(3) {
  top: 0.5rem;
}

.navbar .burger-line:nth-child(4) {
  top: 1rem;
}

.navbar .burger.active .burger-line:nth-child(1),
.navbar .burger.active .burger-line:nth-child(4) {
  top: 1.25rem;
  width: 0%;
  left: 50%;
}

.navbar .burger.active .burger-line:nth-child(2) {
  transform: rotate(45deg);
}

.navbar .burger.active .burger-line:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .menu-link {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: inherit;
  border: none;
  color: #AEAEAE;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
  padding: 0.9rem;
}

.navbar .menu-link.active,
.navbar .menu-link:hover:not(.orange-color) {
  border: none;
  outline: none;
  color: var(--color-indigo);
  background-image: url("/img/pata.png");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .navbar .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .navbar .menu {
    width: 100%;
    max-height: 0rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.35s ease;
  }

  .navbar .menu.active {
    opacity: 1;
    visibility: visible;
  }

  .navbar .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1rem 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

.banner-img {
  background-image: url("/img/pets-banner.png");
  background-size: cover;
  height: 90vh;
}

.card-color-text {
  color: #6D6D6D !important;
}

.up-card {
  transform: translateY(-50px);
  z-index: 9;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  height: 100%;
  padding: 0.5rem;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 600px) {
  .up-card {
    transform: translateY(0);
  }
}

.btn-banner {
  background-color: #057683;
  color: #fff;
  padding: 0.5rem 1rem;
}

.btn-banner:hover {
  color: #EF7A68;
  background-color: #fff;
  border: solid 1px #EF7A68;
  transition: all 0.35s ease;
}

.btn-orange {
  background: #EF7A68;
  color: #fff;
}

.btn-orange:hover {
  background-color: #fff;
  color: #EF7A68;
  border: solid 1px #EF7A68;
  transition: all 0.35s ease;
}

@media (max-width: 600px) {
  .btn-banner {
    width: 100% !important;
  }
}

.bg-azul {
  background-image: url("/img/bg-01.png");
  height: 50vh;
}

.bg-cinza {
  background-color: #F7F7FA;
}

.bg-verde {
  background-color: #057683;
}

.bg-servicos {
  background-image: url("/img/laranja.png");
  height: 60vh;
}

.bg-cat {
  background-image: url("/img/bg-cat.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  transform: translateY(100px);
  border-radius: 10px;
}

.bg-cardiac {
  background: #EF7A68;
  height: 50%;
}

.bg-footer {
  background-image: url("/img/bg-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .bg-servicos {
    background-image: url("/img/laranja.png");
    height: 100vh;
  }
}

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .swiper {
    width: 100%;
  }
}

.wrapper {
  height: 100%;
}

.block__item {
  margin-bottom: 20px;
}

.block__title {
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.block__title::before,
.block__title::after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
  transition: all 0.3s ease 0s;
}

.block__title:before {
  transform: rotate(40deg);
  left: 0;
}

.block__title::after {
  transform: rotate(-40deg);
  left: 8px;
}

.block__title.active::before,
.block__title.active::after {
  background-color: #EF7A68;
}

.block__title.active::before {
  transform: rotate(-40deg);
}

.block__title.active::after {
  transform: rotate(40deg);
}

.block__text {
  display: none;
  padding-top: 10px;
}

.color-footer {
  background-color: #0B3C41;
  padding-top: 3.5rem;
  font-size: 0.8rem;
}

.color-footer a {
  color: white;
  text-decoration: none;
}

.color-footer a:hover {
  color: #EF7A68;
}

.bg-footer {
  transform: translateY(40px);
}

.img-login {
  background-image: url("/img/pets-banner.png");
  object-fit: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .img-login {
    background-image: none;
  }
}

/*Configurações Gerais*/

.orange-color {
  color: #EF7A68 !important;
}

.verde-color {
  color: #057683;
}

.marrom-color {
  color: #4A4444;
}

