@import 'components/navbar';
@import 'components/reset';
@import 'components/banner';
@import 'components/cards';
@import 'components/buttons';
@import 'components/backgrounds';
@import 'components/swiper';
@import 'components/accordion';
@import 'components/footer';
@import 'components/login';
@import 'components/colors';            




// .image-gallery{

//     img {
//         object-fit: cover;
//         background-size: cover;
//         height: 22rem;
//         width: 100%;
//         border-radius: 5%;
//         } 
// }

// .image-gallery-2{
//     img {
//         object-fit: cover;
//         background-size: cover;
//         height: 11rem;
//         border-radius: 5%;
//         } 
// }

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 70vh;
    width: 100%;
    gap: 0.5rem;
 

    div {
        width: 100%;
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
        border-radius: 10px;

        &:nth-child(1){
            grid-column: 1/2;
            grid-row: 1/3;
        }

        &:nth-child(2){
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &:nth-child(3){
            grid-column: 2/3;
            grid-row: 2/3;
        }

        &:nth-child(4){
            grid-column: 3/4;
            grid-row: 1/3;
        }
    }

    
}

.setas-baixo {
    transform: translateY(100px);
    width: 6rem;
}

.setas-cima {
    transform: translateY(50px);
    width: 6rem;
} 

@media (max-width: 600px)
{
    .gallery-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 100vh;
        width: 100%;
        gap: 0.5rem;
     
    
        div {
            width: 100%;            
            background-size: cover;
            background-position: center ;
            background-repeat: no-repeat;
            border-radius: 10px;
    
            &:nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
            }
    
            &:nth-child(2){
                grid-column: 2/3;
                grid-row: 1/2;
            }
    
            &:nth-child(3){
                grid-column:  1/2;
                grid-row: 2/3;
            }
    
            &:nth-child(4){
                grid-column:  2/3;
                grid-row: 2/3;
            }
        }
    
        
    }
}

.paw-list img{
    width:2rem;
}

// body{
//     overflow-x:hidden ;
// }


//Debug Geral de alinhamento

// * {
//     border: 1px solid red;
// }